security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main:
      lazy: true
      provider: app_user_provider

      # Form login
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: true

      # OAuth authenticators
      custom_authenticators:
        - App\Security\GoogleAuthenticator
        - App\Security\FacebookAuthenticator
      entry_point: form_login

      logout:
        path: app_logout
        target: app_home

      remember_me:
        secret: "%kernel.secret%"
        lifetime: 604800

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/register, roles: PUBLIC_ACCESS }
    - { path: ^/connect, roles: PUBLIC_ACCESS }
    - { path: ^/$, roles: PUBLIC_ACCESS }
    - { path: ^/inventory/\d+$, roles: PUBLIC_ACCESS }
    - { path: ^/search, roles: PUBLIC_ACCESS }
    - { path: ^/user/\d+$, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: ROLE_USER }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
