# Ignore development files
/var/
/vendor/
/.env.local
/.env.*.local
/.git
/.gitattributes
/.gitignore
/phpunit.xml
/tests/
/.env.test
/.env.dev
/compose.yaml
/compose.override.yaml
*.log
*.cache
.DS_Store
Thumbs.db
